* {
  margin: 0;
  padding: 0;
}

.Friend {
  background: whitesmoke;
  width: 350px;
  padding: 10px;
  margin: 20px auto;
  transition: all 0.4s linear;
  border-radius: 30px;
  text-align: center;
}

.Friend img {
  border-radius: 50%;
  border: 1px solid black;
  width: 150px;
  height: 100px;
}

.Friend h4 {
  margin: 0.5rem 0;
  color: maroon;
}

.Friend .Job {
  color: gray;
}

.Friend:hover {
  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.87);
}
